@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.otf);
  }

body {
    display: flex;
    margin: 0px;
    height: 100vh;
    background-color: rgb(15, 15, 15);
    font-family: 'roboto', sans-serif;
}

.main {
    display: flex;
    width: 1360px;
    height: 100vh;
    background-color: white;
    margin: auto;
}

.left {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 37%;
    background-image: url('assets/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    align-items: center;
}

.hero {
    width: 100%;
    display: flex;
    font-family: Norse-Bold, sans-serif;
    font-size: 90px;
    color: white;
    background-color: rgba(0, 0, 0, 50%);
    margin-top: 42%;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.hero img {
    height: 120px;
}

.credits
, .credits a {
    color: rgba(255, 255, 255, 90%);
    font-size: 13px;
}

.right {
    flex: 1;
    background-color: rgb(245, 245, 245);
}

.up {
    padding: 140px 120px 40px 40px;
}

strong p {
    font-size: 22px;
}

form {
    background-color: white;
    margin: 0 auto;
    padding: 10px 40px 40px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

.form-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px 60px;
    justify-content: flex-start;
}

form div {
    display: flex;
    flex-direction: column;
    flex: 0 1 250px;
}

label {
    font-size: 12px;
}

input {
    height: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}

input:focus {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  }

input:valid {
    border-color: blue;
}

input:user-invalid {
    border-color: red;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
}
  
input:user-invalid + .error-message {
    display: inline;
}

.down {
    padding: 30px 40px 10px 40px;
}

button {
    font-size: 16px;
    font-weight: 900;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 50px;
    cursor: pointer;
}

button:active {
    background-color: #4A5C3A;
}

.down a {
    color: #596D48;
}